// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top-nav {
	margin-right: 20px;
}


.navbar-brand {
	img {
		border-radius: 50%;
		width: 100px;

		-webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
	}

	img:hover {
  		  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);

	}
}




.main-header {
	background-image: url('cubbyholehero.jpg');
	background-size: 100%;
	background-attachment: fixed;
	color: white;

	.header-image {
		border-radius: 50%;
		width: 300px;
		margin:0 auto;

	}

	.jumbotron {
	margin-top: 60px;
	padding-bottom: 100px;
	color: white;
	background-color: rgba(0,0,0,0);
	font-size: 22px;
	}

	.contact-btn {
		background-color: transparent;
		border: 1px solid black;

	}
}


.info2 {

	text-align: center;
	img {
		border-radius: 17%;
	}
}


.info3 {

	text-align: center;

	img {
		border-radius: 17%;

	}
}

.about-us {
	text-align:center;
}







.first-content {
	background-color: white;
	background-size: 100% 100%;
	text-align: center;
	margin-bottom: 100px;

	.margin {
		margin-top: 100px;

	}


	.first-content-title {
		text-align:center;
	}

	
}

.line-break {
	border-bottom: 1px solid black;
}

.margin-text {
	margin-top: 50px;
}




.nav-btn {
	background-color: transparent;
	margin-top: 35px;
	border: none;

}

ul {
	li .btn:hover {
		background-color: transparent;
 
	}


}


.second-content-wrapper {
	background-color: #F1F1F4;
	text-align: left;
	height: 100%;




	.second-content {
		color: black;
		margin-bottom: 50px;
		
		h3 {
			text-align:center;
		}

		img {
			border-radius: 17%;
			margin-top: 15px;
			margin-left:50px;
		}
	}
}

.third-content-wrapper {
	color: #F1F1F4;
	background-color: white;
	height: 400px;
	text-align: left;
}

.fourth-content-wrapper {
	background-color: #5d2a74;
	height: 350px;

}



.footer-wrap {
	background-color: #383838;
	height: 400px;
}
