// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-font: 'Montserrat', sans-serif;
$second-font: 'Raleway', sans-serif;


.top-nav {
	margin-right: 20px;
}

.navbar {
	a {
		color: white;
	}
}



.navbar-brand {
	img {
		border-radius: 50%;
		width: 100px;

		-webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
	}

	img:hover {
  		  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);

	}
}




.main-header {
	background-image: url('cubbyholehero.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
	color: white;

	.header-image {
		border-radius: 50%;
		width: 300px;
		margin:0 auto;

	}

	.jumbotron {
	margin-top: 60px;
	padding-bottom: 100px;
	color: white;
	background-color: rgba(0,0,0,0);
	font-size: 22px;
	}

	.contact-btn {
		background-color: transparent;
		border: 1px solid black;

	}
}




.info2 {

	text-align: center;
	img {
		border-radius: 17%;
	}
}


.info3 {

	text-align: center;

	img {
		border-radius: 17%;

	}
}

.about-us {
	text-align:center;
}







.first-content {
	background-color: white;
	background-size: 100% 100%;
	text-align: center;
	margin-bottom: 100px;
	font-family: $second-font;

	.margin {
		margin-top: 100px;

	}


	.first-content-title {
		text-align:center;
	}

	
}

.line-break {
	border-bottom: 1px solid black;
}

.margin-text {
	margin-top: 50px;
}




.nav-btn {
	background-color: transparent;
	margin-top: 35px;
	border: none;
	margin-right: 50px;

}

.icon-bar {
	
	background-color: white;
	border: 1px, solid, white;
	margin-top: 50px;

}


.navbar-nav {
	font-family: $main-font;
	color: white;
	text-align:center;
	li a:hover {
		background-color: transparent;

		a:active {
			color: white;
			background-color: transparent;
		}
	}
}


.navbar-right {
	padding-left: 50px;
}



.second-content-wrapper {
	background-color: #F1F1F4;
	text-align: left;
	height: 100%;




	.second-content {
		color: black;
		margin-bottom: 50px;
		font-family: $second-font;
		
		h3 {
			text-align:center;
		}

		img {
			border-radius: 17%;
			margin-top: 50px;
			margin-left:50px;
		}

		a {
			text-decoration: none;
			color: white;
		}
	}
}

.third-content-wrapper {
	color: #F1F1F4;
	background-color: white;
	height: 100%;
	text-align: left;

		.third-content {
		color: black;
		margin-bottom: 50px;
		font-family: $second-font;
		
		h3 {
			text-align:center;
		}

		img {
			border-radius: 17%;
			margin-top: 50px;
			margin-left:50px;
		}

		a {
			text-decoration: none;
			color: white;
		}
	}

}

.fourth-content-wrapper {
	background-color: #F1F1F1;
	background-size: 100% 100%;
	height: 400px;
	text-align: center;
	font-family: $main-font;

}








// Menu Items

.menu-header {

	height: 35px;

	color: white;


	.header-image {
		border-radius: 50%;
		width: 300px;
		margin:0 auto;

	}

	.jumbotron {
	margin-top: 60px;
	padding-bottom: 100px;
	color: white;
	background-color: rgba(0,0,0,0);
	font-size: 22px;
	}

	.contact-btn {
		background-color: transparent;
		border: 1px solid black;

	}
}

.menu-content {
	background-color: white;
	background-size: 100% 100%;
	text-align: center;
	margin-bottom: 100px;
	font-family: $second-font;

	.margin {
		margin-top: 100px;

	}

	h6 {
		font-size: 22px;
		text-align: left;
	}

	
}
